# Compiler files
artifacts/
cache/
cache_hardhat/
coverage/
out/
types/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/
deployments/localhostMainnet
deployments/localhostArbitrum

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.envrc
node_modules
