[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "lib/optimism"]
	path = lib/optimism
	url = https://github.com/ethereum-optimism/optimism
[submodule "lib/contracts"]
	path = lib/contracts
	url = https://github.com/fx-portal/contracts
